@use 'src/styles/vars';

.about{
  padding-top: 7em;
}

.about__content {
  width: 90%;
  margin: auto;

  & h2{
    color: vars.$color-main;
  }

  & p{
    text-align: justify ;
  }

  @media screen and (min-width: 1025px) {
    width: 85%;
    display: flex;
  }
}


.about__content--presentation, .about__content--team {
  margin: 1.5em 0em;
  @media screen and (min-width: 1025px) {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {

  .about__content--presentation{
    width: 40%;
  }

  .about__content--team{
    width: 60%;
    padding-left: 1em;
  }
}

.page__title__about {

  color: vars.$color-dark2;
  text-transform : uppercase;
  letter-spacing : 0.3em;
  padding-top: 3rem;
  margin-bottom: 5rem;
  
}

.team__name {
  color: vars.$color-main;
  font-size: 1.5em;
}

.team__role1{
  color: vars.$color-dark2;
  font-size: 1.1em;
  font-weight: bold;
}

.team__card{
  margin-bottom: 0.8em;
  @media screen and (min-width: 1025px) {
    padding: 0em 1.5em;
  }
}

.team__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

