@use 'src/styles/vars';

.profile__content {
    @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

.flex__bottomPart {
    @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.profile__icon{
    background-color: vars.$color-main !important;
    color: vars.$color-light2 !important;
}