@use 'src/styles/vars';


// .prolific__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }


.prolific__container {
  border-top: 2px solid vars.$color-dark1;
  border-bottom: 2px solid vars.$color-dark1;
}

.prolific__user--title {
  padding-top: 2%;
  text-transform : uppercase;
  letter-spacing : 0.3em;
}
.prolific__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  @media screen and (min-width: 1025px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.prolific__user--item {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1025px) {
    width: 33%;
  }
}
.prolific__user--circle {
  padding-right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  border: 1px solid vars.$color-dark1 ;
  
}



