.prolific__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;

}
h2 {
  border-bottom: 1px grey;
}
.prolific__user::before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

