@use 'src/styles/vars';

.list {
  width: 175px;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  border: 1px solid vars.$color-dark1;
  color: vars.$color-dark1;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  text-shadow: vars.$color-light2 0.1em 0.1em 0.2em;
  position: absolute;
  z-index: 100;
    &-item {
      padding: 10% 0% 10% 0%;
      box-sizing: border-box;
      color: black;
        font-weight: 600;
      
      & a {

        color: black;
        font-weight: 600;
        cursor: pointer;
        
      }
    } 

      &-item a:hover {
        color: vars.$color-dark1;
        transition: 0.5s;
      }
      
}


.list__off {
  display: none;
}

@media screen and (min-width: 1025px) {
      
  .list {
    list-style: none;
    border: none;
    background: none;
    width: 200px;
    top: -2em;
    left: 30em;
    
      &-item {
        margin-right : 25%;
        display: inline;
        font-size: larger;
      }

      &__close--button {
        display: none;
      }

  }


}
