@use 'src/styles/vars';

.list {
  width: 175px;
  text-align: center;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  border: 1px solid vars.$color-dark1;
  color: vars.$color-dark1;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  text-shadow: vars.$color-light1 0.1em 0.1em 0.2em;
  position: absolute;
  z-index: 100;
    &-item {
      padding: 10% 0% 10% 0%;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      font-weight: 600;
    } 


    &-mobil {
      padding: 10% 0% 10% 0%;
      box-sizing: border-box;
      color: black;
      font-weight: 600;

        
    }
      
}


.list__off {
  display: none;
}

@media screen and (min-width: 1025px) {
      
  .list {
    list-style: none;
    border: none;
    background: none;
    top: -2em;
    left: calc(50vw - 3em - 175px); // middle of the page - 3em (position assigned to nav.nav__bar) - 175px (half the width of the nav bar)
    width: 350px;
      &__container {
        display: flex;
        justify-content: space-between;
      }
      &-item {
        display: inline;
        font-size: larger;
        &:hover {
          color: vars.$color-main;
          transition: 0.3s;


        }
      }

      &__close--button {
        display: none;
      }

      &-mobil {
        display: none;
        
      }

  }

  


}
