@use 'src/styles/vars';

.react-horizontal-scrolling-menu--scroll-container {
  list-style: none;
}

.react-horizontal-scrolling-menu--item {
  display: flex;
}

.react-horizontal-scrolling-menu--item li {
  margin: auto 0;
}

.arrow {
  background: unset;
  height: fit-content;
  border: none;
  font-size: 150%;
  padding: 6px 10px;
  margin: auto 0;
  border-radius: 50%;
}

//? Hidden scrollbar
/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
