@use 'src/styles/vars';

.thematic__list{
  padding-bottom: 3px;
  display: flex;
  //overflow-x: hidden;
  overflow-x: scroll;

  // &:hover{
  //   overflow-x: scroll;
  // }
}

.thematic__list::-webkit-scrollbar {
  height: 7px !important;
  border: none;
  background-color: vars.$color-main ;
}

