@use 'src/styles/vars';

// Ajustement du footer
// On met une hauteur minimale = à l'ensemble de l'écran, - le header (10em) & le footer (10em)
.app > div:nth-child(2) {
  min-height: calc(100vh - 20em);
}

// Centrage de toutes les pages
.container__page__all {
  margin: auto;
  text-align: center;
}

// Bordure blanche haut de page home et volunteer (avec slider)
.container__page__home {
  margin-top: 0.2em;
  @media screen and (min-width: 1025px) {
    margin-top: 1em;
  }
}

// Contenu home principal et avec filtre de thématiques
.content__page__home {
  //margin: auto;
  padding-top: 2em;
  @media screen and (min-width: 1025px) {
    width:75%;
  }
}

// Contenu des autres pages
.content__page__others {
  padding-top: 10em;
}

// Contenu de toutes les pages
.content__page__all {
  margin: auto;
  padding-bottom: 4em;
  max-width: 90%;
}


// Titres principaux des pages
// Toutes les pages
.main__title {
  color: vars.$color-dark2;
  text-transform : uppercase;
  letter-spacing : 0.2em;
  margin-bottom: 1.5em;
}

.subtitle {
  color: vars.$color-main;
}

.home__content__title{
  padding-top: 1.5em;
  padding-bottom: 1em;
}


// Autres éléments en commun sur plusieurs pages
.user__pseudo {
  color: vars.$color-dark1;
  font-weight: bold;
  &:hover {
    color: vars.$color-main;
  }
}

.button {
  background-color: vars.$color-main !important;
  color : vars.$color-light2 !important;
  &:hover {
    background-color: vars.$color-dark1 !important;;
  }
}