@use 'src/styles/vars';

.experience__card{
  position: relative;
  margin : 1em 0em !important;
}

.button__experience__details{
  background-color: vars.$color-main !important;
  color : vars.$color-light2 !important;
  margin-top: 1em !important;
}
.experience__preview {
  overflow: hidden;
}
.experience__country{
  position: absolute !important;
  top: 0.7em;
  right: 1em;
  color: vars.$color-dark2;
  font-style: italic;
  text-transform: uppercase;
}

.experience__title{
  margin-top: 0.5em!important;
}

.user__image {
  position: absolute !important;
  top: 11.5em;
  right: 9em;
  background:none !important;
}

.author__name{
  // text-align: right !important;
  color:vars.$color-dark1;
}
