@use 'src/styles/vars';

.logIn__button{
  position: absolute;
  top: 3em;
  right: 1em;
  border-radius: 10px;
  padding: 0.2em 0.5em;
  background-color: vars.$color-main;
  color : vars.$color-light2;
  border: none;
}
