.carousel-root {
  max-width: 98%;
  margin: auto;
  margin-top: 0%;
  height: 100vh;
  @media screen and (min-width: 1025px) {
    height: 60%;
    object-fit: cover;
  }
}

.carousel-slider {
  border-radius: 10px;
}

.slide img{
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
  @media screen and (min-width: 1025px) {
    height: 400px;
    object-fit: cover;
  }
}
