@use 'src/styles/vars';

//? Mettre en premier plan pour ne pas voir les boutons du slider
.signIn__form--display{
  z-index: 10;
}

.signIn__button{
  position: absolute;
  top: 1em;
  right: 1em;
  width: 85px;

  @media screen and (min-width: 1025px) {
    top: 1.5em;
    right: 1.5em;
  }
}

.signIn__form--hidden{
  display: none;
  position: absolute !important;
  top: 3em;
  right: 3.5em;

  // @media screen and (min-width: 1025px) {
  //   top: 1em;
  //   right: 8em;
  // }

  border-radius: 10px;
  padding: 1em;
  background-color: vars.$color-light2;
  color : vars.$color-dark2;
}

.signIn__button, .signIn__form__button {
  background-color: vars.$color-main !important;
  color : vars.$color-light2 !important;
}

.close__button{
  margin-left: 80% !important;
  float: right;
}

.signIn__form--display{
  display: block;
}
