.nav__bar {
  position:absolute;
  top: 2em;
  left:3em;

}

.nav__list {
  position: absolute;
  top: 2em;
}

.nav__logo {
  width: 80px;
  position: absolute;
  top : -2em;
  left: 5em;
}


@media screen and (min-width: 1025px) {

  .nav__button {
    display: none;
  }
  
  .nav__logo {
    width: 150px;
    top: -1em;
    left: -1em;
  }
}
