@use 'src/styles/vars';

.profile__form--imgpreview img{
    max-width: 250px;
}

.profile__form--content {
    @media (min-width: 1025px) {
        width: 60%;
        margin: auto;
    }
}

.profile__form--main__input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 

    @media (min-width: 1025px) {
        display: block;
    }

    & .label{
        background-color: vars.$color-light1;
        color: vars.$color-dark1;
    }

    & input {
        border : none;
        background-color: white !important;
        color: vars.$color-dark1;
    }
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input{
    // border : none;
    

}

input#file-upload-button{
    background-color: vars.$color-light1;
}