@use 'src/styles/vars';

.profile__form--imgpreview img{
    max-width: 250px;
}

.profile__form--content {
    @media (min-width: 1025px) {
        width: 60%;
    }
}

.profile__form--main__input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;

    @media (min-width: 1025px) {
        display: block;
    }

    & .label{
        background-color: vars.$color-light1;
        color: vars.$color-dark1;
    }

    & .input {
        border : none;
        background-color: vars.$color-light1;
        color: vars.$color-dark1;
    }
}